<!doctype html>
<html>
  <head>
    <title>GitHub Profiles</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>
  <body>
    <h1>TITLE</h1>
    <section class='container'>
      <section class='search-container'>
        <form>
          <input class='search-box' type='text' placeholder='GitHub Username'>
          <button class='search-button' type='submit' name='search'>SEARCH</button>
        </form>
      </section>
      <section class='profile-container'>
        <section class='image-container'>
          <img src='https://avatars.githubusercontent.com/u/5008648'>
        </section>
        <section class='info-container'>
          <ul>
            <li>FULL NAME</li>
            <li>LOCATION</li>
            <li>PUBLIC REPOS</li>
          </ul>
        </section>
        <span id="clearfix"></span>
      </section>
    </section>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  </body>
</html>
