<!doctype html>
<html>
  <head>
    <title>GitHub Profiles</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>
  <body>
    <h1>TITLE</h1>
    <section class='container'>
      <section class='search-container'>
        <form id='add-profile'>
          <input class='search-box' type='text' placeholder='GitHub Username'>
          <button class='search-button' type='submit' name='search'>SEARCH</button>
        </form>
      </section>

      <section class='github-container'></section>

      <template class='profile-container'>
        <section class='image-container'>
          <img src='{{ avatar_url }}'>
        </section>
        <section class='info-container'>

            <h2><a href='{{ html_url }}'>{{ login }}</a></h2>
            <p><em>{{ name }}</em></p>
            <p>{{ location }}</p>
            <p><strong>Repos: </strong>{{ public_repos }}</p>

        </section>
        <span id="clearfix"></span>
      </template>
    </section>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="./interface.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
  </body>
</html>
