body {
  height: 100%;
}

.container {
  background-color: #ecf0f1;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  padding: 1%;
  overflow: contain;
}

.search-container{
  margin-bottom: 1%;
  padding: 1%;
  padding-left: 0;
}

.profile-container {
  padding: 10%;
  height: auto;
}

.search-box {
  width: 84%;
  float: left;
  box-sizing: border-box;
  border: none;
  padding: 0.3em;
}

.search-button {
  display: inline;
  margin-left: 3%;
  border: none;
  background-color: #2980b9;
  padding: 0.3em;
  color: white;
}

.image-container {
  width: 39%;
  float: left;
  margin-right: 3%;
  height: 100%;
}

.info-container {
  width: 57%;
  float: left;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.number {
  display: block;
  font-size: 4em;
  font-weight: bold;
}

.follower-container {
  display: inline;
  float: left;
  margin-right: 5%;
  text-align: center;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 5%;
}


#clearfix {
  display: block;
  clear: both;
}
